@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(46, 142, 233);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}